
@include font-face(Shabnam, Shabnam);

*,*:before,*:after{
    box-sizing: inherit;
}
html{
   box-sizing: border-box;
}
body{
     font-family: "shabnam";

}  
a{
   text-decoration: none; 
} 
h1{
   font-size: $font-size-larg;
}

