.cr-card{
    border : 1px solid blue;
    box-sizing: border-box;
    @include el(header){
        @include flex-dis(row,center,space-between);
        padding : em(5px);
        border-bottom: 1px solid #cccccc;
    }
    @include el(h-img){
        @include flex-dis(row,center,center);
       div {
        @include dim(em(20px),em(20px));
        background-size: cover;
        background-position: center;
       }
      
    }
    @include el(image){
        @include dim(100%,248px);
    }

}