.custom-button {
    width: em(125px);
    width: auto;
    height: em(50px);
    letter-spacing: 0.5px;
    line-height:em(50px);
    padding: 0 15px 0 15px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform:capitalize;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
    &.google-sign-in {
      background-color: #4285f4;
      color: white;
  
      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  }
  