.cr-Homepage{
    @include flex-dis(column,center,flex-start);
    @extend %pages_dim;
    border : 1px solid blueviolet;
    @include el(slitem){
        @include flex-dis(row,center,space-between);
        width: 100%;
    }
    @include el(mslider){
        flex:1 0 auto;
        height: em(515px);
        border : 1px solid red;
     } 
     @include el(items){
        border : 1px solid rgb(12, 202, 98);
        @include flex-dis(column,center,space-between);
       // min-width: 355px;
        flex-flow: 0 0 355px; 
        height: em(515px);
    } 
    @include el(collections){
        @include flex-dis(row,center,space-between);
        padding: em(10px);
        width: 100%;  
    }
   
}