.sidetoolbar{
    @include flex-dis(column,center);
    position: fixed;
    top: 0;
    right: 0;
    background-color: map-get($back-color ,default );
    min-height: 100%;
    width: 70%;
    max-width: em(400px);
    z-index: 200;
}