//font family=======================================
$fontfamily : "Shabnam",Tahoma,Verdana,sans-serif;;
//font size=========================================
$mainpage-default--font   : 16px;
$font-weight--small       : 300;
$font-weight--meduim      : 400;
$font-weight--larg        : 600;


$default-line-height      : 1.4;
//============color=================================
     $cwhite :rgb(85, 82, 82);
     $hcolor :#F59A83;
     $menu-shadow:#ccc;
//back-ground color---------------------------------------------
$back-color : (
    default : #ffff,
    backdrow :rgba(38, 38, 38,.7),
    menu-linkHover: #ffcccc,
   
);


//font color========================================
$font-color : (
    default :rgb(34, 33, 32),
    whitef:#FFFFFF,
    resheader : $hcolor

);

//media query=======================================
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
// path==================================================
$img-path     : '../../images';

 